.navbar-container {
  background-color: $neutrals-graylight-400;
}
.navbar-box {
  padding: 0rem 3rem;
}
.navbar-list {
  display: flex;
  align-items: center;
}
.item-list {
  padding: 1.2rem;
  &:hover {
    background-color: $brand-green-light;
    color: white;
  }
}

.item-list a {
  padding: 1.2rem;
  text-decoration: none;
  color: $neutrals-gray-400;
  &:hover {
    color: white;
  }
}
