<div class="sidebar-layout">
  <div class="sidebar-box">
    <div class="sidebar-menu">
      <app-sidebar-button>
        <app-icon>
          arrow_back
        </app-icon>
      </app-sidebar-button>
      <app-sidebar-button>
        <app-icon>
          filter_alt
        </app-icon>
      </app-sidebar-button>
    </div>
    <div class="body-content">
      <div class="page-container">
        <app-breadcrumb></app-breadcrumb>
        <div class="title-box">
          <h1>Gestión de entidades</h1>
          <div class="button-section">
            <app-button variant="primary">Hola mundo</app-button>
            <app-button variant="primary">Hola mundo</app-button>
          </div>
        </div>
        <div class="table-box">
          <table class="table" aria-label="Tabla entidades">
            <thead>
              <tr>
                <th></th>
                <th>Nombre entidad</th>
                <th>Código entidad</th>
                <th>NIT</th>
                <th>Tipo entidad</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td><input class="checkbox-table" type="checkbox"></td>
                  <td>Hola mundo</td>
                  <td>Hola mundo</td>
                  <td>Hola mundo</td>
                  <td>Hola mundo</td>
                  <td>Hola mundo</td>
                </tr>
                <tr>
                  <td><input class="checkbox-table" type="checkbox"></td>
                  <td>Hola mundo</td>
                  <td>Hola mundo</td>
                  <td>Hola mundo</td>
                  <td>Hola mundo</td>
                  <td>Hola mundo</td>
                </tr>
                <tr>
                  <td><input class="checkbox-table" type="checkbox"></td>
                  <td>Hola mundo</td>
                  <td>Hola mundo</td>
                  <td>Hola mundo</td>
                  <td>Hola mundo</td>
                  <td>Hola mundo</td>
                </tr>
                <tr>
                  <td><input class="checkbox-table" type="checkbox"></td>
                  <td>Hola mundo</td>
                  <td>Hola mundo</td>
                  <td>Hola mundo</td>
                  <td>Hola mundo</td>
                  <td>Hola mundo</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
